---
import BaseLayout from "../../layouts/BaseLayout.astro";
const title = 'ポリシー｜Bochi IT Note';
const description = '免責事項・編集方針・プライバシーポリシー';
---

<BaseLayout {title} {description}>
	<h1 class="text-2xl font-bold">ポリシー</h1>
	<ul class="mt-4 list-disc pl-5">
		<li><a class="underline" href="/policy/disclaimer">免責事項</a></li>
		<li><a class="underline" href="/policy/editorial">編集方針</a></li>
		<li><a class="underline" href="/policy/privacy">プライバシーポリシー</a></li>
	</ul>
</BaseLayout>


